/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 960px) {
	body {
		/*font-size: 14px;*/
	}
	.service__item h3 {
		/*text-align: center;*/
	}
	.service__item img {
		width: 120px;
		height: 108px;
	}
	.header__menu li {
		margin: 0 0 0 8px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
.service__item img {
		width: 145px;
		height: 130px;
	}
	.contacts__data {
		margin-top: 260px;
	}
	.footer__copyright {
		text-align: center;
	}
	.footer__action {
		text-align: center;
	}
	.banner__title {
		font-size: 2em;
	}
	.header__hamburger {
		display: block;
		/*height: 50px;*/
	}
	.header__menu {
		display: none;
		position: relative;
		/*position: absolute;*/
		/*margin-top: -20px;*/
		max-width: 320px;
		float: right;
		/*top: 120px;*/
		/*text-align: center;*/
		/*border: 1px solid #f0f;*/
		/*width: auto;*/
		background-color: rgba(86,157,56,0.9);
	}
	.header__menu ul {
		/*position: absolute;*/
		/*text-align: center;*/
		/*width: 100%;*/
		/*width: auto;*/
		height: auto;
		padding: 10px 0;
	}
	.header__menu li {
		display: block;
		background: none;
		text-align: center;
		padding: 0 0;
		margin: 10px 0;
		/*border: 1px solid #f00;*/
	}
	.header__menu li a {
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	.header__menu li a.active,
	.header__menu li a:hover {
		border-bottom: none;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.service__item img {
		width: 120px;
		height: 108px;
	}
	.banner__title {
		margin-top: 200px;
	}
	.header__phone b {
		font-size: 16px;
	}
}

@media only screen and (max-width : 380px) {
	.service__item img {
		width: 110px;
		height: 99px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
.service__item img {
		width: 100px;
		height: 90px;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.header__menu {
		display: block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 960px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}